# ================== Order Service ==================
PORT=8003

# MongoDB Atlas - Specific database for orders
MONGO_URI=mongodb+srv://foodappuser:AOISv8mCYnwKf3cw@crm.kv7kqyi.mongodb.net/orders_db?retryWrites=true&w=majority&appName=crm

# JWT Secret (Must be the SAME as in user-service)
JWT_SECRET=481498ccec4545fefaedb7cbef183186622f0a72b5c4f595c04fbc0b6c22625210a76c1a0ad51cd5b4bfe924f28e5a252726d95615c6f886cfed793f0ad5433c

NODE_ENV=development