# ================== User Service ==================
PORT=8001

# MongoDB Atlas - Specific database for users
MONGO_URI=mongodb+srv://foodappuser:AOISv8mCYnwKf3cw@crm.kv7kqyi.mongodb.net/users_db?retryWrites=true&w=majority&appName=crm

# JWT Secret (Change this to a strong random string in production)
JWT_SECRET=481498ccec4545fefaedb7cbef183186622f0a72b5c4f595c04fbc0b6c22625210a76c1a0ad51cd5b4bfe924f28e5a252726d95615c6f886cfed793f0ad5433c

# Optional: For better security
NODE_ENV=development